.footer {
  min-height: 600px;

  background: linear-gradient(to right, #df0000, #5200ff);
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 30.22%,
    2% 30.14%,
    4% 30.25%,
    6% 30.54%,
    8% 31.01%,
    10% 31.63%,
    12% 32.38%,
    14% 33.25%,
    16% 34.19%,
    18% 35.17%,
    20% 36.16%,
    22% 37.13%,
    24% 38.04%,
    26% 38.85%,
    28% 39.55%,
    30% 40.1%,
    32% 40.48%,
    34% 40.68%,
    36% 40.7%,
    38% 40.53%,
    40% 40.18%,
    42% 39.66%,
    44% 38.99%,
    46% 38.2%,
    48% 37.31%,
    50% 36.35%,
    52% 35.35%,
    54% 34.37%,
    56% 33.41%,
    58% 32.53%,
    60% 31.76%,
    62% 31.11%,
    64% 30.61%,
    66% 30.29%,
    68% 30.15%,
    70% 30.19%,
    72% 30.42%,
    74% 30.83%,
    76% 31.4%,
    78% 32.12%,
    80% 32.95%,
    82% 33.87%,
    84% 34.84%,
    86% 35.83%,
    88% 36.81%,
    90% 37.75%,
    92% 38.59%,
    94% 39.33%,
    96% 39.93%,
    98% 40.37%,
    100% 40.63%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.footer-content {
  background-image: linear-gradient(0deg, #050a32d7, #050a32e0),
    url("../../../assets/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 30.22%,
    2% 30.14%,
    4% 30.25%,
    6% 30.54%,
    8% 31.01%,
    10% 31.63%,
    12% 32.38%,
    14% 33.25%,
    16% 34.19%,
    18% 35.17%,
    20% 36.16%,
    22% 37.13%,
    24% 38.04%,
    26% 38.85%,
    28% 39.55%,
    30% 40.1%,
    32% 40.48%,
    34% 40.68%,
    36% 40.7%,
    38% 40.53%,
    40% 40.18%,
    42% 39.66%,
    44% 38.99%,
    46% 38.2%,
    48% 37.31%,
    50% 36.35%,
    52% 35.35%,
    54% 34.37%,
    56% 33.41%,
    58% 32.53%,
    60% 31.76%,
    62% 31.11%,
    64% 30.61%,
    66% 30.29%,
    68% 30.15%,
    70% 30.19%,
    72% 30.42%,
    74% 30.83%,
    76% 31.4%,
    78% 32.12%,
    80% 32.95%,
    82% 33.87%,
    84% 34.84%,
    86% 35.83%,
    88% 36.81%,
    90% 37.75%,
    92% 38.59%,
    94% 39.33%,
    96% 39.93%,
    98% 40.37%,
    100% 40.63%
  );
  width: 100%;
  min-height: 590px;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.footer-content-grid {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
  align-items: center;
}
.footer-content-about {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-content-about p {
  color: #fff;
  font-weight: 200;
}
.footer-content-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-content-links p {
  background: linear-gradient(
    90deg,
    #920aa8 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #f323b7 87.5%,
    #fe3873 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-content-links a {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
}
.footer-content-social {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content-social-shape {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-content-social-shape p {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
}
.footer-content-social-icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.footer-content-social-icons svg {
  color: #fff;
  width: 30px;
  height: 30px;
}
.copyright {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer {
    clip-path: none;
    margin-top: 100px;
  }
  .bact-to-top-button {
    height: 50px;
    width: 50px;
  }
  .footer-content {
    clip-path: none;
    min-height: 100%;
    padding: 30px;
  }
  .footer-content-grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 0px;
  }
  .footer-content-about {
    width: 100%;
    max-width: 500px;
    align-items: flex-start;
    text-align: justify;
  }
  .footer-content-about img {
    margin-left: 40px;
  }
  .footer-content-links {
    width: 100%;
    max-width: 500px;
    align-items: center;
  }
  .footer-content-social {
    width: 100%;
  }
  .footer-content-social-shape img {
    visibility: hidden;
  }
  .copyright {
    height: 60px;
  }
}
