.navbar {
  background-color: #380d41;
  height: 140px;
  box-shadow: 0px 4px 4px 0px #ffffff40;
  position: relative;
  z-index: 99999;
}

.navbar-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  padding-inline: 10px;
}

.navbar-links {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.active-link {
  background: linear-gradient(
    90deg,
    #920aa8 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #f323b7 87.5%,
    #fe3873 100%
  );
  padding: 2px;
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.link {
  background: none;
  padding: 2px;
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.link-background {
  background-color: #380d41;
  border-radius: 999px;
  display: flex;
  align-items: center;
}
.active-link-text {
  background: linear-gradient(
    90deg,
    #920aa8 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #f323b7 87.5%,
    #fe3873 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 20px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 25px;
  width: 100%;
}

.link-text {
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px 20px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 25px;
  width: 100%;
}

.secondary-gradient-bg {
  background: linear-gradient(
    90deg,
    #920aa8 2%,
    #e019cc 20%,
    #ff81e3 48%,
    #fc75d6 52%,
    #df55f6 60%,
    #e822ec 71%,
    #e80f91 75%,
    #ee19d8 81.25%,
    #f323b7 87.5%,
    #fe3873 100%
  );
}

@media (max-width: 768px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .navbar {
    display: none;
  }
}
@media (hover: hover) {
  .link:hover {
    background: linear-gradient(
      90deg,
      #920aa8 2%,
      #e019cc 20%,
      #ff81e3 48%,
      #fc75d6 52%,
      #df55f6 60%,
      #e822ec 71%,
      #e80f91 75%,
      #ee19d8 81.25%,
      #f323b7 87.5%,
      #fe3873 100%
    );
    padding: 2px;
    border-radius: 999px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .link-text:hover {
    background: linear-gradient(
      90deg,
      #920aa8 2%,
      #e019cc 20%,
      #ff81e3 48%,
      #fc75d6 52%,
      #df55f6 60%,
      #e822ec 71%,
      #e80f91 75%,
      #ee19d8 81.25%,
      #f323b7 87.5%,
      #fe3873 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px 20px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 25px;
    width: 100%;
  }
}
